{% load static %}
<footer>

    <div class="footer-content">

      <div class="footer-brand">
        <img src="{% static './img/logoHRM.png' %}" alt="" class="footer-logo">

        <div class="social-link">

          <a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-tiktok"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>

        </div>
      </div>


      <div class="footer-links">
        <ul>

          <h4 class="link-heading">Online Sinema</h4>
        
          <li class="link-item"><a href="{% url 'index' %}">Anasayfa</a></li>
          <li class="link-item"><a href="{% url 'movies' %}">Filmler</a></li>
          <li class="link-item"><a href="{% url 'about' %}">Hakkımızda</a></li>
          

        </ul>

        <ul>

          <h4 class="link-heading">Filmler</h4>
          
          <li class="link-item"><a href="#">Red Notice</a></li>
          <li class="link-item"><a href="#">Spider-Man</a></li>
          <li class="link-item"><a href="#">Venom</a></li>

        </ul>

        <ul>

          <h4 class="link-heading">Filmler</h4>

          <li class="link-item"><a href="#">Matrix</a></li>
          <li class="link-item"><a href="#">John Wick</a></li>
          <li class="link-item"><a href="#">Fast and Furious</a></li>

        </ul>

        <ul>

          <h4 class="link-heading">Filmler</h4>

          <li class="link-item"><a href="#">Dune</a></li>
          <li class="link-item"><a href="#">Captain Marvel</a></li>
          <li class="link-item"><a href="#">Fight Club</a></li>

        </ul>
      </div>

    </div>

    <div class="footer-copyright">

      <div class="copyright">
        <p>&copy; Copyright 2022 HRMSTUDIO</p>
      </div>

      <div class="wrapper">
        <span>ABDULLAH, BAHADIR, FURKAN, KUTAY, YUNUS</span>
      </div>

    </div>

  </footer>