{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!--
      - MAIN SECTION
    -->
    <main>

        <!--
          - #BANNER SECTION
        -->
        <section class="banner">
          <div class="banner-card">
  
            <img src="{% static './img/John-Wick-3.jpg' %}" class="banner-img" alt="">
  
            <div class="card-content">
              <div class="card-info">
  
                <div class="genre">
                  <ion-icon name="film"></ion-icon>
                  <span>Aksiyon/Gerilim</span>
                </div>
  
                <div class="year">
                  <ion-icon name="calendar"></ion-icon>
                  <span>2019</span>
                </div>
  
                <div class="duration">
                  <ion-icon name="time"></ion-icon>
                  <span>2s 11d</span>
                </div>
  
                <div class="quality">4K</div>
  
              </div>
  
              <h2 class="card-title">John Wick: Bölüm 3 - Parabellum</h2>
            </div>
  
          </div>
        </section>
  
        <!--
          - #MOVIES SECTION
        -->
        <section class="movies">
  
          <!--
            - filter bar
          -->
          <div class="filter-bar">
  
            <div class="filter-dropdowns">
  
              <select name="genre" class="genre">
                <option value="all genres">Tüm Türler</option>
                <option value="action">Aksiyon</option>
                <option value="adventure">Macera</option>
                <option value="animal">Bilim-Kurgu</option>
                <option value="animation">Animasyon</option>
                <option value="biography">Biyografi</option>
              </select>
  
              <select name="year" class="year">
                <option value="all years">Tüm Zamanlar</option>
                <option value="2022">2022</option>
                <option value="2020-2021">2020-2021</option>
                <option value="2010-2019">2010-2019</option>
                <option value="2000-2009">2000-2009</option>
                <option value="1980-1999">1980-1999</option>
              </select>
  
            </div>
  
            <div class="filter-radios">
  
              <input type="radio" name="grade" id="featured" checked>
              <label for="featured">Öne Çıkan</label>
  
              <input type="radio" name="grade" id="popular">
              <label for="popular">Popüler</label>
  
              <input type="radio" name="grade" id="newest">
              <label for="newest">En Yeniler</label>
  
              <div class="checked-radio-bg"></div>
  
            </div>
  
          </div>
  
  
          <!--
            - movies grid
          -->
  
          <div class="movies-grid">
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/red-notice.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>6.4</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Red Notice</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Komedi</span>
                  <span class="year">2021</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/spider-men.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>7.4</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Spider-Man: Eve Dönüş</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2017</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/matrix.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>N/A</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">The Matrix Resurrections</h3>
  
                <div class="card-info">
                  <span class="genre">Bilim Kurgu/Aksiyon</span>
                  <span class="year">2021</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/eternals.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>6.8</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Eternals</h3>
  
                <div class="card-info">
                  <span class="genre">Macera/Aksiyon</span>
                  <span class="year">2021</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/dune.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.2</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Dune</h3>
  
                <div class="card-info">
                  <span class="genre">Bilim Kurgu/Macera</span>
                  <span class="year">2021</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/1917.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.3</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">1917</h3>
  
                <div class="card-info">
                  <span class="genre">War/Drama</span>
                  <span class="year">2019</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/shang-chi.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>7.6</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Shang-Chi and The Legend of The Ten Rings</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Fantezi</span>
                  <span class="year">2021</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/casino-royale.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.0</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Casino Royale</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2006</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/dark-knight.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>9.0</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">The Dark Knight</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2008</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/panther.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>7.3</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Black Panther</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2018</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/venom.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>6.7</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Venom</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2018</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/LOTR.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.9</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Lord Of The Rings: Return Of The King</h3>
  
                <div class="card-info">
                  <span class="genre">Fantezi/Macera</span>
                  <span class="year">2003</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/saving-private-ryan.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.6</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Saving Private Ryan</h3>
  
                <div class="card-info">
                  <span class="genre">Savaş/Aksiyon</span>
                  <span class="year">1998</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/interstaller.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.6</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Interstellar</h3>
  
                <div class="card-info">
                  <span class="genre">Bilim Kurgu/Aksiyon</span>
                  <span class="year">2014</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/gladiator.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.5</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Gladiator</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2000</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/endgame.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>8.4</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Avengers: Endgame</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Bilim Kurgu</span>
                  <span class="year">2019</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/ww84.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>5.4</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Wonder Woman 1984</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Macera</span>
                  <span class="year">2020</span>
                </div>
              </div>
  
            </div>
  
            <div class="movie-card">
  
              <div class="card-head">
                <img src="{% static './img/movies/captain-marvel.jpg' %}" alt="" class="card-img">
  
                <div class="card-overlay">
  
                  <div class="bookmark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </div>
  
                  <div class="rating">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>6.8</span>
                  </div>
  
                  <div class="play">
                    <ion-icon name="play-circle-outline"></ion-icon>
                  </div>
  
                </div>
              </div>
  
              <div class="card-body">
                <h3 class="card-title">Captain Marvel</h3>
  
                <div class="card-info">
                  <span class="genre">Aksiyon/Bilim Kurgu</span>
                  <span class="year">2019</span>
                </div>
              </div>
  
            </div>
  
          </div>
  
          <!--
            - load more button
          -->
          <a href="{% url 'movies' %}"><button class="load-more">DAHA FAZLA</button></a>
  
        </section>


         <!--
        - #CATEGORY SECTION
      -->
      <section class="category" id="category">

        <h2 class="section-heading">Kategoriler</h2>

        <div class="category-grid">

          <div class="category-card">
            <img src="{% static './img/action.jpg' %}" alt="" class="card-img">
            <div class="name">Aksiyon</div>
            <div class="total">50</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/comedy.jpg' %}" alt="" class="card-img">
            <div class="name">Komedi</div>
            <div class="total">25</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/thriller.webp' %}" alt="" class="card-img">
            <div class="name">Gerilim</div>
            <div class="total">20</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/horror.jpg' %}" alt="" class="card-img">
            <div class="name">Korku</div>
            <div class="total">15</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/adventure.jpg' %}" alt="" class="card-img">
            <div class="name">Macera</div>
            <div class="total">30</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/animated.jpg' %}" alt="" class="card-img">
            <div class="name">Animasyon</div>
            <div class="total">15</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/crime.jpg' %}" alt="" class="card-img">
            <div class="name">Suç</div>
            <div class="total">3</div>
          </div>

          <div class="category-card">
            <img src="{% static './img/sci-fi.jpg' %}" alt="" class="card-img">
            <div class="name">Bilim Kurgu</div>
            <div class="total">17</div>
          </div>

        </div>

      </section>

    </main>

{% endblock %}